@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dxd5nt');
  src:  url('../fonts/icomoon.eot?dxd5nt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dxd5nt') format('truetype'),
    url('../fonts/icomoon.woff?dxd5nt') format('woff'),
    url('../fonts/icomoon.svg?dxd5nt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Menu-mobile:before {
  content: "\e916";
  color: #434e59;
}
.icon-icon-cross:before {
  content: "\e915";
  color: #b7c3d0;
}
.icon-Courses:before {
  content: "\e90b";
  color: #b7c3d0;
}
.icon-dame:before {
  content: "\e90c";
  color: #b7c3d0;
}
.icon-icon-horaire:before {
  content: "\e90d";
  color: #f26532;
}
.icon-icon-mail:before {
  content: "\e90e";
  color: #f26532;
}
.icon-Mask:before {
  content: "\e90f";
  color: #e65723;
}
.icon-Menage:before {
  content: "\e910";
  color: #b7c3d0;
}
.icon-nuit:before {
  content: "\e911";
  color: #b7c3d0;
}
.icon-Repas:before {
  content: "\e912";
  color: #b7c3d0;
}
.icon-arrow-left:before {
  content: "\e908";
  color: #dce0e5;
}
.icon-arrow-right:before {
  content: "\e909";
  color: #dce0e5;
}
.icon-arrow-top:before {
  content: "\e90a";
  color: #dc3b05;
}
.icon-Heart:before {
  content: "\e907";
  color: #fff;
}
.icon-ArrowLong-1:before {
  content: "\e93d";
  color: #f26532;
}
.icon-Play:before {
  content: "\e905";
  color: #fff;
}
.icon-IconList:before {
  content: "\e913";
  color: #fff;
}
.icon-IconMapMobile:before {
  content: "\e914";
  color: #fff;
}
.icon-ArrowLong-2:before {
  content: "\e906";
  color: #fff;
}
.icon-Linkedin:before {
  content: "\e903";
  color: #fff;
}
.icon-Youtube:before {
  content: "\e904";
  color: #fff;
}
.icon-Location:before {
  content: "\e900";
  color: #828c96;
}
.icon-Phone:before {
  content: "\e901";
  color: #fff;
}
.icon-Shape:before {
  content: "\e902";
  color: #f26532;
}
