.visible-xs, .visible-sm, .visible-md {
	display: none;
}
.fixed {
	position: fixed;
	width: 100%;
}
.btn-read-more {
	text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
	.btn-read-more-24 {
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 0.07px;	
		line-height: 17px;
		padding: 8px 17px;
	    // background: $main-color;
	    background-color: #fdf0eb;
	    border-radius: 25px;
	    color: $main-color;
	    transition: all .3s;
	    &:hover {
	    	background-color: $main-color;
	    	color: white;
	    }
	}
}
.underline {
	position: relative;

	&:after {
		content: '';
		width: 200px;
		height: 10px;
		display: block;
		background: $color5;
		-webkit-transform: skew(-20deg) translateX(-50%);
   		-moz-transform: skew(-20deg) translateX(-50%);
     	-o-transform: skew(-20deg) translateX(-50%);
     	transform: skew(-20deg) translateX(-50%);
	    position: absolute;
	    left: 50%;
	    bottom: 2px;
	    z-index: -1;
	}
	&.title {
		font-size: 37px;
		font-weight: bold;	
		letter-spacing: 0.2px;
		line-height: 47px;
		text-align: center;
		color: $main-color;
		margin-bottom: 30px;
	}
	&.left {
		text-align: left;
		&:after {
			left: 0;
			transform: skew(-20deg) translateX(0%);
		}
	}
	&.underline-short {
		&:after {
			width: 130px;
		}
	}
}
.icon-ArrowLong-2 {
	&.white{
		&:before {
			color: white;
		}
	}
}
.icon-right {
	&.circle {
	    background: $main-color;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    border-radius: 50%;
	}
}
.icon-Location, .icon-Phone {
	&.red {
		&:before {
			color: $main-color;
		}
	}
}

.breadcrumb {
	.list-inline {
		display: flex;
		align-items: center;
		li {
			padding-right: 10px;
			color: #B7C3D0;
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 0.06px;
			line-height: 13px;
			i {
				font-size: 10px;
			}
		}
	}
}
.left {
	text-align: left;
}
.title-30 {	
	color: $color2;	
	font-size: 30px;	
	font-weight: bold;	
	letter-spacing: 0.16px;
	line-height: 38px;
}

.description-1 {
	color: $color4;	
	font-size: 16px;	
	font-weight: 600;	
	line-height: 27px;
}
.btn {
	font-size: 13px;	
	font-weight: 600;	
	letter-spacing: 0.07px;
	line-height: 17px;
	padding: 13px 37px;
    border-radius: 23px;
	&.bg-main-color {
		background: $main-color;
		color: white;
		border: 1px solid $main-color;
	}
	&.bg-white {
		background: white;
		border: 1px solid $main-color;
		color: $color2;
	}
}
.info-person {
	display: flex;
	align-items: center;
	.info {
		padding-left: 20px;
	}
	.name {
		color: #F26532;
	    font-size: 16px;
	    font-weight: 500;
	    letter-spacing: 0.09px;
	    line-height: 18px;
	}
	.detail {
		color: #434E59;
	    font-family: Clan-Medium;
	    font-size: 14px;
	    font-weight: 500;
	    letter-spacing: 0.08px;
	    line-height: 16px;
	}
}
.desktop {
	display: none;
    @media screen and (min-width: $mobile-small){  
    	display: block;
    } 
}
.mobile {
	display: block;
    @media screen and (min-width: $mobile-small){  
    	display: none;
    } 
}
.search-form {
	position: relative;
	.search-control {
		border: 1px solid #e0e0e0;
	    border-radius: 7px;
	    padding-left: 20px;
	    height: 30px;
	    padding-right: 25px; 
	}
	button {
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    right: 9px;
	    i {
	       font-size: 17px;
	    }
	}
}
.close-search {
	display: none;
}
