//============================================================
// Caching
//============================================================

$random: random(99999999999);

// ============================================================
// Viewports
//============================================================

$desktop-large: 1200px;
$desktop-small: 1199px;
$tablet-large: 992px;
$tablet-small: 991px;
$mobile-large: 768px;
$mobile-small: 767px;
$mobile-minimum: 480px;

//============================================================
// Typography
//============================================================

$font-1: sans-serif;

//============================================================
// Colors
//============================================================
$color-white: #FFFFFF;
$main-color: #F26532;

$textcolor-1: #828C96;

$color1: #000000;
$color2: #434E59;
$color3: #353E47;
$color4: #828C96;
$color5: #d8dee4;
$color6: #FAFAFA;




//============================================================
// Easing
//============================================================

// Cubic
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);


// css variables;

:root {
  --blue-link-color: #1976d2;
}


// Colors
$color-primary:           #dc3b05;
$color-secondary:         #434e59;

$color-tertiary:          #E87400;

$color-checkbox:          #FFF5EC;
$color-form:              #697A8C;

$color-icon: #8594A3;

$color-error: #B71C1C;
$color-success: #43A047;


$color-third: #48d1cc;

$color-dark: #434e59;
$color-light: #9e9e9e;
$color-lighter: #a2adb9;

$darken-percentage: 20%;

$color-url: #1976d2;

$header-bg: #fff;
$footer-bg: #a0b1b9;



// Typography
$font-primary: 'IBM Plex Sans', 'Open Sans', Arial, sans-serif;
$font-secondary: 'IBM Plex Sans', 'Open Sans', Arial, sans-serif;

$font-size-body: 18px;
$font-size-h1: 36px;
$font-size-h2: 26px;


$text-body: #434e59;


// Layout
$container-width:         1140px;
$container-wide-width:          1230px;


// Extra small screen / phone
$screen-xs:                  320px !default;
// Small screen / tablet
$screen-sm:                  768px !default;
// Medium screen / desktop
$screen-md:                  992px !default;
// Large screen / wide desktop
$screen-lg:                  1200px !default;
// Large screen / very wide desktop
$screen-xl:                  1921px !default;
// Large screen / wide desktop
$screen-notebook:            1600px !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;
$screen-lg-max:              ($screen-xl - 1) !default;
$screen-notebook-max:        ($screen-notebook - 1) !default;


// Other settings
$transition-time:        0.1s;
$transition-effect:      ease-in-out;
$opacity:                0.8;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;