.main-content {
    margin-top: 130px;
}
.site-header {
     z-index: 9999;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    transition: transform .85s cubic-bezier(.475,.425,0,.995),-webkit-transform .85s cubic-bezier(.475,.425,0,.995);
    &.pin-top{
      transition: all 1s;
      position: fixed;
      background: white; 
    &.pin{
        position: fixed;
         transform: translateY(-175px);
        background: white;
    }
  }
}

header  {

   
    .row-top {
        display: flex;
        justify-content: space-between; 
        .logo-holder {
            display: inline-block;
            position: fixed;
        }
        .header__navigation {
            position: relative;
            width: 100%;
            height: 100vh;
            position: fixed;
            background: white;
            transform: translateX(-100%);
            transition: all 1s;
            overflow: auto;
            z-index: 99999;
            @media screen and (min-width: $mobile-small){ 
               transform: initial;
               z-index: 1;
               overflow: unset;
            }
            &.open_menu_mobile {
                transform: translateX(0);
            }
            
            .icon_close-menu {
                position: absolute;
                right: 15px;
                top: 15px;
                display: block;
                @media screen and (min-width: $mobile-small){ 
                    display: none;
                }  
            }
            .logo-mobile {
                display: block;
                @media screen and (min-width: $mobile-small){ 
                    display: none;
                }  
                width: 82px;
                margin: 0 auto;
            }
            @media screen and (min-width: $mobile-small){ 
                position: relative;
                height: auto;
                background: transparent;
            }
       
            #menu-primary-menu {
                display: block;
                @media screen and (min-width: $mobile-small){ 
                    display: flex;
                    justify-content: flex-end;
                }
                
                li {
                   
                    border-top: 1px solid #b0b0b0;
                    @media screen and (min-width: $mobile-small){  
                        border-top: transparent;
                    }
                    list-style: none;
                    padding: 20px 10px;
                    cursor: pointer;
                    @media screen and (min-width: $mobile-small){  
                        padding: 10px 10px;
                    }

                    a {
                         font-size: 16px;
                         font-weight: 500;
                         line-height: 18px;
                         text-decoration: none;
                         color: $color2;
                         &:hover {
                             color: $main-color;
                             transition: all .3s;
                         }

                     }
                     @media screen and (min-width: $mobile-small){  
                        &:hover {
                            .dropdown-wrapper {
                                display: block;
                                min-width: 250px;
                                left: 50%;
                                transform: translateX(-50%);
                                .dropdown-menu {
                                    &:before {
                                        content: "";
                                        position: absolute;
                                        width: 30px;
                                        height: 30px;
                                        background-color: #f7f7f7;
                                        top: 7px;
                                        left: 50%;
                                        border-radius: 3px;
                                        transform: rotate(45deg) translateX(-50%);
                                    }
                                }
                            }
                        }
                    }
                }
                > li {
                    position: relative;
                    padding-left: 35px;
                    text-align: left;
                    background: #e2e2e2;
                    @media screen and (min-width: $mobile-small){ 
                        padding-right: 10px;
                        background: transparent;
                        border-bottom: transparent;
                    }
                    a {
                        display: block;
                    }

                    &.menu-item-has-children {
                        > a {
                            position: relative;
                            &:after {
                                content: "";
                                display: inline-block;
                                font-style: normal;
                                width: 8px !important;
                                height: 8px !important;
                                border-right: 1px solid #666;
                                border-top: 1px solid #666;
                                transform: rotate(135deg);
                                position: absolute;
                                transform: rotate(135deg) translateY(50%);
                                position: absolute;
                                right: 20px;
                                top: 50%;
                                @media screen and (min-width: $mobile-small){ 
                                    content: none;
                                }
                            }
                        }
                    }  
                    &.open {
                        padding-bottom: 0;
                    }
                }

            }
            .dropdown-wrapper {
                display: none; //submemu none tạm thời
                position: relative;
                margin-top: 20px;
                z-index: 1;
                @media screen and (min-width: $mobile-small){ 
                    position: absolute;
                    background-color: #f7f7f7;
                    margin-top: 10px;
                }
                
                
                @media screen and (min-width: $mobile-small){ 
                    &:hover {
                        display: block;
                    }
                }
                .dropdown-menu {
                    padding: 0px 45px 0 20px;
                    @media screen and (min-width: $mobile-small) {  
                        padding: 15px 20px;
                    }
                    border-radius: 10px;
                    li {
                        text-align: left;
                    }
                }

            }
            .include-menu {
                margin-top: 60px;
                .navigation {
                    padding-right: 0;
                    position: relative;
                    @media screen and (min-width: $mobile-small){  
                        padding-right: 40px;
                    }
                }
                position: relative;
                .search-form {
                    position: relative;
                }
                .search-container-2 {
                    display: none;
                    position: absolute;
                    bottom: -27px;
                    right: 0;
                  
                    .search-control {
                        border: 1px solid #e0e0e0;
                        border-radius: 7px;
                        padding-left: 20px;
                        height: 30px;
                        padding-right: 25px;
                    }
                    button {
                        background: transparent;
                        border: none;
                        cursor: pointer;
                    }
                    i {
                        font-size: 17px;
                        position: absolute;
                        right: 9px;
                        top: 50%;
                        transform: translateY(-50%);

                    }
                }
                .icon-search {
                    &.icon-close {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        @media screen and (min-width: $mobile-small){  
                            display: block;
                        }
                        i {
                            cursor: pointer;
                            font-size: 23px;
                            display: none;
                            @media screen and (min-width: $mobile-small){  
                                display: block;
                            }
                        }
                        .close-search  {
                            display: none;
                        }
                    }
                } 
            }
        }
        .header-mobile {
            min-height: 100px;
            width: 100%;
            position: relative;
            .include-items-mobile {
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                // .include-items-mobile {
                //     display: flex;
                // }
                .icon-Menu-mobile {
                    height: 21px;
                    font-size: 21px;
                    padding-left: 20px;
                }
                .icon-Shape {
                    font-size: 23px;
                }
            }
             .search-container-2 {
                position: absolute;
                right: 50%;
                transform: translateX(50%);
                bottom: 0;
            }
        }

    }
    .phone-header {
        display: none;
        @media screen and (min-width: $mobile-small){  
            display: block;
        }
        background: $main-color;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 0 4px 4px;
        .phone-holder {
            display: flex;
            padding: 10px 15px;
            .numner-phone {
                color: $color-white;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.09px;
                line-height: 18px;
                padding-right: 15px;
                padding-left: 15px;
            }
            .text {
                color: $color-white;
                font-size: 12px;
                font-weight: 300;
                line-height: 14px;
            }
        }
    }
}