.breadcrumb {
    background-color: #fff;
    border-bottom: solid 1px #eee;
    margin-top: 96px;
    @media screen and (max-width: $screen-xs-max) {
        margin-top: $nav-height-xs;
    }
    @media screen and (max-width: $screen-sm-max) {
        margin-top: 65px;
    }
    ul {
        margin: 0;
        padding: 12px 0;
    }

    li {
        font-size: 16px;
        line-height: 1.56;
        margin: 0;
        padding: 0;

        &:after {
            content: ">";
            color: #ddd;
            display: inline-block;
            padding: 0 10px 0 14px;
            @media screen and (max-width: $screen-xs-max) {
                padding: 0 5px 0 10px;
            }
        }

        a {
            color: $color-url;
            // text-decoration: none;

            &:hover {
                color: $color-url;
                text-decoration: underline;
            }
            &.active {

            }
        }

        img {
            vertical-align: middle;
            margin-top: -3px;
        }
        span {

        }

        &:last-child {
            &:after {
                content: "";
            }
        }
    }
}

.custom-breadcrumbs {
    li {
        display: inline-block;
        // padding-right: 12px;
    }
}


// ** Breadcrumbs Restyles ** //

.custom-breadcrumbs li.item-home {
	display: inline;
}

.breadcrumb .list-inline li:first-child {
	display: inline;
}

.breadcrumb .list-inline li:first-child svg {
	max-width: 20px;
	max-height: 20px;
	margin-bottom: -4px;
}
